body {
    /* background-color: aqua; */
    background-image: url("../assets/images/vector2.jpg");
    background-position: center;
    background-size: cover;
    
}  

#name-card {
    position: absolute;
    margin-top: 20;
    margin-left: 500;
    height:100;
    font-family: futura;
}

#container1 {
    position: absolute;
    width: 350;
    height: 260;
    margin-top: 20;
    margin-left: 965;
    border-style: outset;
    border-width: 5px;
    border-color: green;
    z-index: 1;
}

#about-me {
    position: absolute;
    font-size: 17;
    color: black;
    text-align: left;
    z-index: 2;
}

#profile {
    position: absolute;
    width: 210;
    border-radius: 50%;
    margin-left: 1040;
    margin-top: 40;
    z-index: 2;
}

#bar1 {
    position: absolute;
	width: 250px;
    height: 40px;
    padding: 5;
    background: black;
    border: solid white;
    border-width: thin;
    margin-top: 50;
    margin-left: 30;
    z-index: 2;
}

#bar2 {
    position: absolute;
	width: 250px;
    height: 40px;
    padding: 5;
    background: black;
    border: solid white;
    border-width: thin;
    margin-top: 100;
    margin-left: 30;
    z-index: 2;
}

#bar3 {
    position: absolute;
	width: 250px;
    height: 40px;
    padding: 5;
    background: black;
    border: solid white;
    border-width: thin;
    margin-top: 150;
    margin-left: 30;
    z-index: 2;
}

#bar4 {
    position: absolute;
	width: 250px;
    height: 40px;
    padding: 5;
    background: black;
    border: solid white;
    border-width: thin;
    margin-top: 200;
    margin-left: 30;
    z-index: 2;
}

#section1 {
    position: absolute;
    width: 800;
    height: 150;
    margin-top: 250;
    margin-left: 350;
    padding: 4;
    border: solid black;
    border-width: 3px;
    background-color: white;
    opacity: 0.85;
    
    z-index: 2;
}

#section2 {
    position: absolute;
    width: 900;
    height: 460;
    margin-top: 200;
    margin-left: 340;
    padding: 4;
    background-color: white;
    opacity: 0.80;
    border-style: outset;
    border-width: 3px;
    border-color: rgb(17, 10, 10);
    z-index: 2;
}

#section3 {
    position: absolute;
    width: 800;
    height: 400;
    margin-top: 260;
    margin-left: 500;
    z-index: 2;
}

#section4 {
    position: absolute;
    width: 800;
    height: 400;
    margin-top: 260;
    margin-left: 500;
    z-index: 2;
}

.block {
    height: 70px;
    width: 290px;
    padding: 2;
    background-color: orange;
    border: solid 5px;
    border-style: outset;
    border-color: orange;
}

#blk1 {
    margin-left: 50;
}

#blk2 {
    margin-top: 10;
    margin-left: 50;
    padding-top: 20;
}

#blk3 {
    margin-top: 10;
    margin-left: 50;
    padding-top: 20;
}

.icon {
    width: 100;
    height: 100;
    border: solid rgb(17, 11, 11);
}

#textbox {
    margin-left: 500;
    margin-top: 370;
    width: 415;
    height: 200;
    background-color: white;
}